@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.external::after {
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.05;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  background: url(../images/noisegif.gif);
}

.external {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  color: white;
}

.container {
  width: 100%;
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 700;
}

.content {
  width: 100%;
  height: 85vh;
}

.content_with_bottom {
  width: 100%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: thin solid blue;
}

.bottom {
  width: 100%;
  height: 7%;
  background-color: black;
  z-index: 3;
  border: thin solid red;
}

.box_wrapper {
  width: 85vw;
  height: 100%;
  position: relative;
}

.grad_left {
  width: 9vw;
  height: 110%;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(85%), to(rgba(5, 5, 5, 0.2)));
  background: linear-gradient(to right, black, 85%, rgba(5, 5, 5, 0.2));
  z-index: 2;
}

.grad_right {
  width: 9vw;
  height: 110%;
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(85%), to(rgba(5, 5, 5, 0.2)));
  background: linear-gradient(to left, black, 85%, rgba(5, 5, 5, 0.2));
  z-index: 2;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-border-image: linear-gradient(to left, rgba(29, 239, 236, 0.2), rgba(0, 249, 133, 0.2));
     border-image: -webkit-gradient(linear, right top, left top, from(rgba(29, 239, 236, 0.2)), to(rgba(0, 249, 133, 0.2)));
     border-image: linear-gradient(to left, rgba(29, 239, 236, 0.2), rgba(0, 249, 133, 0.2));
  border-width: 2px;
  border-image-slice: 1;
  border-style: solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-left {
  margin-left: 60%;
  margin-top: 30%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 107, 106, 0.3)), to(rgba(0, 117, 63, 0.3)));
  background: linear-gradient(to right, rgba(13, 107, 106, 0.3), rgba(0, 117, 63, 0.3));
}

.top-right {
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 107, 106, 0.35)), to(rgba(0, 117, 63, 0.35)));
  background: linear-gradient(to right, rgba(13, 107, 106, 0.35), rgba(0, 117, 63, 0.35));
  margin-left: -40%;
}

.three {
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 107, 106, 0.2)), to(rgba(0, 117, 63, 0.2)));
  background: linear-gradient(to right, rgba(13, 107, 106, 0.2), rgba(0, 117, 63, 0.2));
}

.four {
  background: -webkit-gradient(linear, left top, right top, from(rgba(13, 107, 106, 0.1)), to(rgba(0, 117, 63, 0.1)));
  background: linear-gradient(to right, rgba(13, 107, 106, 0.1), rgba(0, 117, 63, 0.1));
}
/*# sourceMappingURL=layout.css.map */