@import 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

//noise layer
.external::after{
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.1;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000;
    pointer-events: none;
    background: url(../images/noisegif.gif) ;
   }

.external{
    width: 99.8%;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: thin solid blue;
}

.text{
    color: white;
}

.container{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border: thin solid red;
    border-radius: 50px;
}
