@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Squard1";
  src: url("../font/SquareBlockRegular-AYGg.ttf") format("truetype");
}

@font-face {
  font-family: "Squard2";
  src: url("../font/SquareRegular-8qW0.ttf") format("truetype");
}

* {
  font-family: 'Squard1','Roboto';
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #060606;
  overflow: hidden;
}

.external::after {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  background: url(../images/noisegif.gif);
}

@media (min-width: 0px) {
  .external::after {
    opacity: 0.06;
  }
}

@media (min-width: 720px) {
  .external::after {
    opacity: 0.02;
  }
}

.external {
  width: 99.8%;
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  color: #f5f5f5;
  font-weight: bolder;
  padding: 3%;
}

@media (min-width: 0px) {
  .text {
    font-size: 48px;
  }
}

@media (min-width: 720px) {
  .text {
    font-size: 108px;
  }
}

.min {
  font-family: 'Roboto';
  color: #f5f5f5;
  font-weight: bold;
  font-size: 32px;
}

.container {
  position: absolute;
  margin-top: 2%;
  width: 90%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 720px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero {
  border: thick solid #85826c;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #101010;
}

@media (min-width: 0px) {
  .hero {
    height: 50%;
    width: 95%;
    margin-top: 1vh;
  }
}

@media (min-width: 720px) {
  .hero {
    height: 96%;
    width: 40%;
    margin-left: 0.5%;
    margin-top: 0;
  }
}

.about {
  background-color: #0d5523;
  border-radius: 30px;
}

@media (min-width: 0px) {
  .about {
    height: 25%;
    width: 95%;
    margin-top: 1vh;
  }
}

@media (min-width: 720px) {
  .about {
    height: 96%;
    width: 32%;
    margin-top: 0;
  }
}

.other {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .other {
    height: 24%;
    width: 95%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 720px) {
  .other {
    height: 96%;
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects {
  border-radius: 30px;
  background-color: #0d4055;
}

@media (min-width: 0px) {
  .projects {
    height: 100%;
    width: 50%;
    margin-left: 1vw;
    margin-right: 1vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 720px) {
  .projects {
    height: 49.5%;
    width: 100%;
    margin-left: 0vw;
    margin-right: 0vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact {
  border-radius: 30px;
  background-color: #7b0e08;
}

@media (min-width: 0px) {
  .contact {
    height: 100%;
    width: 50%;
    margin-left: 1vw;
    margin-right: 1vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 720px) {
  .contact {
    height: 49.5%;
    width: 100%;
    margin-left: 0vw;
    margin-right: 0vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content {
  position: absolute;
  margin-top: 2%;
  width: 90%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 720px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.internal {
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (min-width: 0px) {
  .internal {
    height: 50%;
    width: 95%;
    margin-top: 1vh;
  }
}

@media (min-width: 720px) {
  .internal {
    height: 96%;
    width: 98.5%;
    margin-left: 0.5%;
    margin-top: 0;
  }
}
/*# sourceMappingURL=layout.css.map */