@import 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

//noise layer
.external::after{
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.06;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000;
    pointer-events: none;
    background: url(../images/noisegif.gif) ;
   }

.external{
    width: 99.8%;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: thin solid blue;
}

.text{
    color: white;
    padding: 3%;
    font-size: large;
}

.container{
    margin-top: 2%;
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(16, 16, 16);
    border-radius: 40px;
    align-items: center;

    @include xs{
        flex-direction: column;
        border: thick solid white;
    }
    @include md{
        flex-direction: row;
        border: thick solid white;
    }
}

.hero{
    border: thick solid orange;
    border-radius: 40px;
    box-sizing: border-box;

    @include xs{
        height: 50%;
        width: 95%;
        margin-top: 1vh;
    }
    @include md{
        height: 96%;
        width: 40%;
        margin-top: 0;
        
    }
}

.about{
    background-color: green;
    border-radius: 40px;

    @include xs{
        height: 25%;
        width: 95%;
        margin-top: 1vh;
    }
    @include md{
        height: 96%;
        width: 30%;
        margin-top: 0;
        
        
    }
}

.other{
    //border: medium solid blue;
    border-radius: 40px;
    display: flex;
    @include xs{
        height: 24%;
        width: 95%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        flex-direction: row;

    }
    @include md{
        height: 96%;
        width: 25%;
        margin-top: 0;
        margin-right: 2%;
        flex-direction: column;
    }
}

.projects{
    border-radius: 40px;
    background-color: purple;
    @include xs{
        height: 100%;
        width: 50%;
        margin-left: 1vw;
        margin-right: 1vw;
        flex-direction: row;

    }
    @include md{
        height: 50%;
        width: 100%;
        flex-direction: column;
    }
}

.contact{
    border-radius: 40px;
    background-color: red;
    @include xs{
        height: 100%;
        width: 50%;
        margin-left: 1vw;
        margin-right: 1vw;
        flex-direction: row;

    }
    @include md{
        height: 50%;
        width: 100%;
        margin-top: 2vh;
        flex-direction: column;
    }
}



